body {
  height: 100vh;
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
}

table, th, td {
  border: 1px solid black;
}

table {
  width: 50%;
  text-align: center;
}

footer {
  font-size: 12px;
  margin-top: auto;
  margin-bottom: 15px;
}